    <!-- Events Section -->
    <section id="events" class="events">
        <div class="container">
            <h2 class="section-title">Upcoming Events</h2>
            <div class="events-grid">
                
                <div class="event-card">
                    <div class="event-date">
                        <span class="day">09</span>
                        <span class="month">AUG</span>
                    </div>
                    <div class="event-content">
                        <h3>Python Bangladesh Office Hour</h3>
                        <p class="event-location"><i class="fas fa-map-marker-alt"></i> Online </p>
                        <p>Monthly get together of community members, Discuss upcoming meetup and workshops.</p>
                    </div>
                </div>

                <div class="event-card">
                    <div class="event-date">
                        <span class="day">23</span>
                        <span class="month">AUG</span>
                    </div>
                    <div class="event-content">
                        <h3>Machine Learning Workshop</h3>
                        <p class="event-location"><i class="fas fa-map-marker-alt"></i> Online</p>
                        <p>Explore machine learning and deployment.</p>
                    </div>
                </div>
                <div class="event-card">
                    <div class="event-date">
                        <span class="day">TBA</span>
                        <span class="month">TBA</span>
                    </div>
                    <div class="event-content">
                        <h3>PythonBD Meetup</h3>
                        <p class="event-location"><i class="fas fa-map-marker-alt"></i> Dhaka, Bangladesh</p>
                        <p>Our community gathering with lightning talks, and networking opportunities.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>