<nav class="navbar">
    <div class="nav-container">

<div class="nav-logo">
    <img src="{{ url_for('static', filename='nav-img-2.png') }}" alt="PythonBD">
    <span>PythonBD</span>
</div>

        <ul class="nav-menu">
            <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#events" class="nav-link">Events</a></li>
            <li class="nav-item"><a href="#past-events" class="nav-link">Activities</a></li>
            <li class="nav-item"><a href="#community" class="nav-link">Community</a></li>
            <li class="nav-item"><a href="#coc" class="nav-link">Code of Conduct</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
        </ul>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

    </div>
</nav>
